/* *{ 
  margin: 0;
  padding: 0;
} */
/* nav related style */
/* shared style */
body{
 font-family: 'Open Sans', sans-serif;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
.nav-title{
 align-items: center;
}
.name-title{
  color: #181818;
font-size: 45px;
font-weight: 800;
}
span{
color: #FD6E0A;
}
.nav-menu{
  display:flex;
  align-items: center;
}
.nav-menu>li{
  list-style: none;
  margin-right: 50px;
}
.nav-menu>li>a{
  text-decoration: none;
  color:#474747;
font-size: 20px;
font-weight: 400;
}
.btn1{
 color: #FFF;
font-size: 20px;
font-weight: 700;
background: #FD6E0A;
border-radius: 5px;
border:0;
width: 150px;
height: 64px;
padding: 15px 35px;
}
.header{
  background: #FFF8F3;
  background-image: url(header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner{
  padding:30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content{
  max-width: 500px;
}
.banner-img{
width: 500px;
}
.banner-gretting{
color: #474747;
font-size: 45px;
font-weight: 600;
margin-bottom: 0;
}
.banner-title{
  margin-top: 5px;
  margin-bottom: 20px;
  color:#181818;
font-size: 85px;
font-weight: 700;
}
.banner-text{
margin-top: 0;
color: #757575;
font-size: 18px;
font-weight: 400;
}
.about{
  padding: 130px;
  margin: 130px;
border-radius: 10px;
  background: #FFF8F3;
}
.section-title{
  color:#181818;
text-align: center;
font-size: 35px;
font-weight: 700;
line-height: normal;
}
.section-text{
  color:#757575;
text-align: center;
font-size: 18px;
}
